# Path a Java (cartella JDK root o al .exe)
JAVA_PATH=C:\Program Files\Eclipse Adoptium\jdk-25.0.2.10-hotspot\bin\java.exe

# Path alla cartella SDK Garmin Connect IQ
SDK_PATH=C:\Users\Gallico\AppData\Roaming\Garmin\ConnectIQ\Sdks\connectiq-sdk-win-9.1.0-2026-03-09-6a872a80b

# Developer key (la generi con: openssl genrsa -out key.pem 4096 && openssl pkcs8 -topk8 -inform PEM -outform DER -in key.pem -out developer_key.der -nocrypt)
DEVELOPER_KEY_PATH=./keys/developer_key.der

# Porta HTTP
PORT=3000

# Cartella build temporanea
TMP_DIR=./tmp
